body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  /* Fondo animado lila */
  background: linear-gradient(-45deg, #e0aaff, #f3c1ff, #d8b0ff, #cda4ff);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  position: relative;
}

@keyframes gradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

h1 {
  font-size: 3em;
  margin-top: 50px;
  text-shadow: 2px 2px 10px #ffb6c1aa, 0 0 15px #ff99ee88;
  font-family: 'Great Vibes', cursive;
  color: #fff;
}

button {
  padding: 15px 30px;
  font-size: 1.2em;
  border: none;
  border-radius: 12px;
  background: #ff77aa;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(255,77,140,0.4);
}

button:hover {
  background: #ff4d8c;
  transform: scale(1.1);
  bo
